
/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */
.color-white {
    color: #fff !important;
}
.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
    padding: 15px;
}


#sidebar {
    min-width: 240px;
    max-width: 240px;
    color: #fff !important;
    padding: 0px 10px;
    background: #4d5ca6;
    box-shadow: rgba(0, 0, 0, 0.15) 2px 2px 4px;
    height: max-content;
}
#sidebar ul p a{
    color: #fff !important;
    text-transform: uppercase;
}
#sidebar ul p a:hover{
    color: #fff !important;
}

.img-home{
    width: 100%;
}
.sidebar-logo-navleft{
    width: 100%;
    object-fit: contain;
    height: auto;
    margin: 0 auto;
}

#sidebar.active {
    margin-left: -260px;
}

.sidebar-title {
    border-bottom: 1px solid white;
    font-weight: 500;
    font-size: 12px;
}

#sidebar .sidebar-header {
    padding: 10px;
    background:transparent;
    color: #fff !important;
    height: 120px;
    object-fit: initial;
    display: flex;
    justify-content: center;
    margin: 15px 0px;
}
.links {
    color: white;
}
.is-active {
    color: #bcbc00;
}
/* .is-active::after{
    content: "a";
} */

#sidebar ul.components {
    padding: 0px 15px;
    padding-bottom: 35px;
    text-align: left;
    width: 100%;
}

#sidebar ul p {
    padding: 15px 0px;
    margin-bottom: 0px;
}

#sidebar ul li a {
    display: block;
    font-weight: 500;
    text-transform: uppercase;
}
#sidebar ul li a p:hover {
    color: #bcbc00 !important;
    background: none;

    
}
#sidebar ul li a:hover {
    text-decoration: none !important;
    
}

#sidebar ul li.active > a, a[aria-expanded="true"] {
    color: #bcbc00;
    font-weight: 700;

}
#sidebar ul li.active > a:hover {
    color: #bcbc00 !important;

}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top:25%;
    right: 20px;
    transform: translateY(-50%);
}

.dropdown-toggle::after {
    display: inline-block;
    width: 0;
    height: 0;
    margin-top: 0px;
    margin-left: 0em;
    vertical-align: 0em;
    content: "\f078";
    font-family: FontAwesome, 'Montserrat', sans-serif;
    border-top: 0 solid;
    border-right: 0 solid transparent;
    border-bottom: 0;
    border-left: 0 solid transparent;
    font-size: 10px;
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background:transparent;
}

.navbar-expand-lg {
    -ms-flex-flow: row nowrap;
    flex-flow: wrap;
    /* flex-flow: row nowrap; */
    -ms-flex-pack: start;
    justify-content: flex-start;
}


/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */
.bg-container {
    background-image: url('../img/section2.jpg');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    padding-bottom: 150px;
}


#sidebarCollapse {
    width: 35px;
    height: 35px;
    background: transparent;
    cursor: pointer;
}

#sidebarCollapse span {
    width: 80%;
    height: 2px;
    margin: 0 auto;
    display: block;
    background: #555;
    transition: all 0.8s cubic-bezier(0.810, -0.330, 0.345, 1.375);
    transition-delay: 0.2s;
}

#sidebarCollapse span:first-of-type {
    transform: rotate(45deg) translate(2px, 2px);
}
#sidebarCollapse span:nth-of-type(2) {
    opacity: 0;
}
#sidebarCollapse span:last-of-type {
    transform: rotate(-45deg) translate(1px, -1px);
}


#sidebarCollapse.active span {
    transform: none;
    opacity: 1;
    margin: 5px auto;
}

.help-sidebar{
    font-size: 12px;
    padding: 10px 15px !important;
}
.help-sidebar a{
    color: white;  
    transition: .3s;
    font-size: 12px;
}
.help-sidebar a:hover{
    text-decoration: none; 
    color: #bcbc00;
}
.help-sidebar p{
    padding: 5px 0px;
    font-size: 12px;
}
.help-sidebar a p{
   font-size: 12px;
}

.mailto {
    width: 35px;
}

.bg-section-container {
    min-height: 70vh;
    display: flex;
    align-items: center;
}

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 768px) {
    .wrapper {
        display: flex;

        flex-wrap: wrap;
    }
    .sidebar-logo-navleft {
        display: none;
    }
    #sidebar {
        width: 100%;
        color: #fff !important;
        padding: 0px 10px;
        background: transparent;
        box-shadow: none;
        height: max-content;
    }
    .bg-section-container {
        min-height: auto !important;
        margin-bottom: 120px;
        margin-top: 60px;
    }

    .align-elements-responsive {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
    }

}
@media (max-width: 525px) {
    .user-menu {
     display:none !important;
    }
    .sidebar-logo-navleft {
        display: none;
    }
    #sidebar {
        width: 100%;
        color: #fff !important;
        padding: 20px 10px;
        background: transparent;
        box-shadow: none;
        height: max-content;
    }
    

}
