/*
    WRAPPER
*/
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

footer b {
  font-weight: 700;
}
.violet-footer {
min-height: 130px;
width: 100%;
background: #4d5ca6;
padding: 25px 0px;
display: flex;
    align-items: center;
}
.black-footer {
min-height: 50px;
width: 100%;
background: #000000;
}
.blue-footer {
min-height: 70px;
width: 100%;
background: #1d88c3;
}

.welcome-footer {
  margin: 0px 35px 0px 10px;
  color: white !important;
}
.follow-us {
 font-size: 13px;
 color: white !important;
 font-weight: 400;
 margin-bottom: 0px;
}
.follow-us-number {
 color: #ffffff;
 font-size: 13px;
}
.follow-us-number:hover {
  color: #bcbc00;
 text-decoration: none;
}
 .socialmedia-icons a {
   color: white !important;
   transition: .3s;
 }
 .socialmedia-icons a:hover{
   color: #1d88c3 !important;
 }
.socialmedia-icons {
  width: 35px;
  height: 35px;
  border-radius: 50px;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid white;
  margin-right: 6px;
  color: white;
}
/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */
@media (max-width: 768px) {
  

}
@media (max-width: 425px) {
    #content {
        min-width: 325px;
    }
}
/* modificado */
.box{
  margin: 0 auto  ;
  width: 200px;
}


