header {
  position: absolute;
  top: 0;
  z-index: 100;
  width: 100%;
}
header b {
  font-weight: 700;
}

.navbar {
  padding: 15px;
  background: transparent;
  border: none;
  border-bottom: 1px solid #788ae4;
  color: white;
}
.bg-light {
  background-color: transparent !important;
}
.nav-link {
  color: #4d5ca6 !important;
  text-transform: uppercase;
  transition: .3s;
}
.nav-link:hover{
  color: #1d88c3 !important;
  text-transform: uppercase;
}
.navbar-brand {
  border-right: 1px solid #788ae4 ;
  padding-right: 20px;
}
.welcome-header {
  margin: 0px 35px 0px 10px;
  color: #4d5ca6 !important;
  font-size: 14px;
}
.navbar-btn {
  box-shadow: none;
  outline: none !important;
  border: none;
}

/* 
WHITE NAV */


.navbar-white {
  border-bottom: 1px solid #ffffff;
  color: white;
}

.navbar-nav {
  display: flex;
    align-items: center;
    margin-left: 25px;
}
.align-end {
    justify-content: flex-end !important;
    position: absolute;
    right: 0;
    margin-right: 20px;

}
.navbar-toggler:focus {
  outline: none;
}

.white-header {
  position: relative;
}

.welcome-message {
  color: white;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 21px;
  margin-bottom: 0px;
}
.welcome-header-white {
  margin: 0px 35px 0px 10px;
  color: #ffffff !important;
  font-size: 14px;
}

.navbar-brand-white{
  border-right: 1px solid #ffffff !important;
  padding-right: 20px;
}
.logout {
  color: white;
  transition: .3s;
}
.logout:hover {
  text-decoration: none !important;
  color: #4d5ca6;
}


@media screen and (max-width: 991px) {
  #sidebar {
    position: relative
  }
  }
  @media screen and (min-width:769px) and (max-width: 990px) {
  #sidebar {
    position: absolute;
    z-index: 100000;
    margin-left: 15px;
  }
  #sidebar .sidebar-header {
    display: none;
  }
  .navbar-toggler:not(:disabled):not(.disabled) {
    cursor: pointer;
    position: absolute;
    right: 0;
    margin-right: 15px;
}
.big-titles-home {
  font-size: 42px;
  padding-left: 20px !important;
}

  }

@media screen and (max-width: 768px) {
  .welcome-message { 
    font-size: 18px;
  }
  .logout {
    font-size: 14px;
}   
.between {
  flex-flow: wrap;
  justify-content: space-between !important}

  #sidebar .sidebar-header {
    display: none !important;
}
  .welcome-header-white {
    margin: 0px 0px 0px 10px;
  }
  .navbar-toggler:not(:disabled):not(.disabled) {
    cursor: pointer;
    position: relative;
    margin-right: 0px;
}
}


@media screen and (max-width: 525px) {
  .navbar-nav {
    display: inline;
      margin-left: 25px;
  }
  .welcome-message {
    font-size: 14px;
    font-weight: 400;
    display: none;
  }
    
}