.medio-select {
  border-radius: 30px !important;
  position: relative;
  z-index: 0;
}
.css-yk16xz-control, .medio-select {
    border-radius: 30px !important;
    position: relative;
    z-index: 1000;
  }
  .medio-select-focus {
    border-color: #5600c2 !important;
    border: 10px solid !important;
    border-radius: 30px !important;
    box-shadow: 0 0 0 0.2rem rgba(86,0,194,.085) !important;
  }
