
#alerts-modal .modal-content {
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  padding: 20px;
  border: none;
  background-color: #15a08a;
  color: white;
}
#alerts-modal .modal-content p{
  font-weight: 500 !important;
  color: white;
}

#alerts-modal .modal-header {
  padding: 0px;

}

#alerts-modal .close {
  color: #bcbc00!important;
  opacity: 1;
  transition: .4s;
  padding: 5px 10px;
  box-shadow: none;
  text-shadow: none !important;
  display: none;
}
#alerts-modal .close:hover {
  transform: scale(1.2);
}
#alerts-modal .close:focus {
  outline: none !important;
}


.violet-small-buttons {
  background-color: #4d5ca6;
  border-radius: 5px;
  padding: 5px 35px;
  border: none;
  transition: .5s;
  font-weight: 500;
  font-size: 13px;
}
.violet-small-buttons:hover {
  transform: scale(1.1); 
  background-color: #334085;
  transition: .5s;
}
.violet-small-buttons:active{
  background-color: rgb(30, 37, 75) !important;
  color: white !important;
  box-shadow:none !important;
}