.country-select {
  position: relative;
  z-index: 500;
  }

.css-yk16xz-control {
    border-radius: 30px !important;
    transition: .5s;
    position: relative;
    z-index: 500;
  }
.css-yk16xz-control input:focus {
    border-color: #5600c2 !important;
    border-radius: 30px !important;
    box-shadow: 0 0 0 0.2rem rgba(86,0,194,.085) !important;
  }